

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: black;
}

.searchBox{
  width:90px!important;
  transition: width .5s linear!important;
  
}

.searchBox:focus{
  /* animation: borderChange .5s linear;
  animation-iteration-count: 1; */
  width:200px!important;
  transition: width .5s linear;
  
}




/* ANIMATION */
@keyframes borderChange {
  1% {
    border-color:red
      
  }
  15% {
    border-color:orange
  }
  30% {
    border-color:yellow
  }
  45% {
    border-color:green
  }
  60% {
    border-color:blue
  }
  75% {
    border-color:blueviolet
  }
  100% {
    border-color:purple 
  }

}


.media:hover{
  position:relative;
  transform: scale(2);
  transition-duration: 1s;
  z-index:999;

}

.media{
  transform: scale(1);
  transition-duration: 1s;

}